{% extends 'adminTheme.html' %}

{% block content %}

<h2 class='h2 text-center mt-3'>Manage Students</h2>

<div class='container' style="min-height: 450px;">

  {% include 'messages.html' %}
  <div class='row'>
    <div class='col'>
        {% if students %}
        <table class="table table-dark table-hover mt-3">
          <thead>
            <tr>
              <th scope="col">id</th>
              <th scope="col">Username</th>
              <th scope="col">First Name</th>
              <th scope="col">Last Name</th>
              <th scope="col">Email</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            {% for student in students %}

              <tr>
                <th scope="row">{{student.id}}</th>
                <td>{{student.username}}</td>
                <td>{{student.first_name}}</td>
                <td>{{student.last_name}}</td>
                <td>{{student.email}}</td>
                <td><a href="{% url 'editStudent' student.id %} " class='btn btn-sm btn-warning me-3'>Edit </a>
                  <form action="{% url 'deleteStudent' student.id %} " method="post" class="d-inline">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-sm btn-danger" value="Delete" onclick = "return confirm('Are you sure to delete {{student.username}}?')">
                  </form>
              </tr>
            
            {% endfor %}
          </tbody>
        </table>
        {% else %}
        <h4 class='text-center alert alert-warning'>No records found </h4>
        {% endif %}
    </div>
  </div>
</div>

{% endblock content %}

