{% extends 'theme.html' %}

{% block content %}

<div class='container w-25'>
  <h2 class='h2 text-center mt-3 mb-3'>Creat an Account</h2>
  <form method='post' action='/signup'>
    {% csrf_token %}
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input type="text" class="form-control" name='username' id="username" placeholder='Create a Username'>
    </div>
    <div class="mb-3">
      <label for="" class="form-label">First Name</label>
      <input type="text" class="form-control" name='fname' id="fname" placeholder='Enter Your First Name'>
    </div>
    <div class="mb-3">
      <label for="" class="form-label">Last Name</label>
      <input type="text" class="form-control" name='lname' id="lname" placeholder='Enter Your Last Name'>
    </div>
    <div class="mb-3">
      <label for="" class="form-label">Email Address</label>
      <input type="email" class="form-control" name='email' id="email" placeholder='Enter Your Email Address'>
    </div>
    <div class="mb-3">
      <label for="" class="form-label">Password</label>
      <input type="password" class="form-control" name='pass1' id="pass1" placeholder='Create a Password'>
    </div>
    <div class="mb-3">
      <label for="" class="form-label">Confirm Password</label>
      <input type="password" class="form-control" name='pass2' id="pass2" placeholder='Confirm Your Password'>
    </div>
    <div class='d-flex justify-content-center'>
      <button type="submit" class="btn btn-dark">Sign Up</button>
    </div>
  </form>
</div>

{% endblock content %}