{% extends 'theme.html' %}

{% block content %}

<div class='container'>
  {% if user.is_authenticated %}
  <div class="alert alert-success alert-dismissible fade show w-50 mx-auto mt-2" role="alert">
    <p class='text-center'>Hi, <span class='fw-bold'>{{ uname }}</span>, You are successfully logged in.</p>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endif %}
  <div class='container'>
    <div class='row'>
      <div class='col-md-6 mt-3'>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/A7yrpejh7Fs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class='col-md-6 mt-5'>
        <table class="table">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Week</th>
              <th scope="col">Task</th>
              <th scope="col">Mark</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row"></th>
              <td>1</td>
              <td>HTML and Css</td>
              <td>29</td>
            </tr>
            <tr>
              <th scope="row"></th>
              <td>2</td>
              <td>Bootstrap and JavaScript</td>
              <td>24</td>
            </tr>
            <tr>
              <th scope="row"></th>
              <td>3</td>
              <td>Python</td>
              <td>29</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

